<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>bug select box</title>
</head>
<body>

<style type="text/css">
    #block1 {
        display: none;
    }
</style>

<div id="block1">
    <form>
        <label for="country1">Country</label>
        <select id="country1" name="country1">
            <option value="3865483">Argentina</option>
            <option value="3017382" selected="selected">France</option>
            <option value="3175395">Italy</option>
        </select>
    </form>
</div>

<div id="block2">
    <form>
        <label for="country2">Country</label>
        <select id="country2" name="country2">
            <option value="2921044">Germany</option>
            <option value="2510769" selected="selected">Spain</option>
            <option value="6252001">US</option>
        </select>
    </form>
</div>

</body>
</html>