<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>centered</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="wrapper">
    <div class="centered">

        <h2>Title</h2>

        <script>
            var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
            var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
            document.write('browser: ' + navigator.userAgent + '<br/>');
            document.write('width: ' + w + '<br/>');
            document.write('height: ' + h + '<br>');
        </script>

    </div>
</div>
</body>
</html>